@media screen and (max-width: 992px){
    .presto-navbar{
        background-color: black;
        padding: 0;
    }
}
@media screen and (max-width: 1070px){
    .container-icon{
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 480px){
    .presto-floating-header{
        transform: translate(0, -40%);}
    .title-header{
        font-size: 40px;
    }
}

@media screen and (max-width: 280px){
    .presto-floating-header{
        transform: translate(0, -40%);}
    .title-header{
        font-size: 20px;
    }
    
}