*{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
}

:root{
    --primary: #88d3ad;
    --secondary: #e4c04a;
    --grey: #f5f5f5;
    --light-grey: #ffffff;
}

/* navbar */
.presto-navbar{
    padding: 30px 10px 10px;
    background-color: transparent;
    transition: all 0.4s;
}
.padding-extension{
    background-color: black;
    padding: 0;
    transition: all 0.4s;
}

.border-shadow{
    box-shadow: 9px 7px 12px -7px var(--primary);

}
.presto-navbar .navbar-brand{
    color: var(--light-grey);
}

.presto-navbar .navbar-brand:hover{
    color: var(--primary);
}

.presto-navbar .nav-item .nav-link:hover{
    color: var(--primary);
    transition: background-color .15s ease-in-out ;
}

.presto-navbar .nav-item .nav-link {
    color: var(--light-grey);
    font-weight: 800;
}

.presto-navbar .nav-item .nav-link.active{
    color: var(--primary);
    transition: background-color .15s ease-in-out ;
}

.presto-navbar .nav-item .dropdown-menu .dropdown-item{
    color: var(--light-grey);
    font-weight: 800;

}

.presto-navbar .nav-item .dropdown-menu .dropdown-item:hover{
    color: var(--primary);
    transition: background-color .15s ease-in-out ;
}
.presto-navbar .nav-item .dropdown-menu .dropdown-item.active{
    color: var(--primary);
    transition: background-color .15s ease-in-out ;
}

.circular-link{
    border-radius: 50%;
    height: 27px;
    width: 27px;
    background-color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color .15s ease-in-out ;
}
.circular-link:hover{
    background-color: var(--light-grey);
    transition: background-color .15s ease-in-out ;
}

.presto-bg{
    background-image: linear-gradient(135deg, var(--primary), var(--secondary));
}

.presto-container{
    height: 200px;
    padding: 0;
}

/* header */
.title-header{
    font-size: 85px;
}

.presto-header{
    background-image: url("./images/rupixen-com-Q59HmzK38eQ-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.presto-header .row-header{
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: var(--light-grey);
}

.presto-header .container-fluid{
    background-color: rgba(0, 0, 0, 0.295);
}

.presto-header-button{
    padding: 10px 30px;
    background-color: var(--primary);
    border-radius: 30px;
    color: white;
    border: 1px solid var(--primary);
    font-weight: 800;
}

.presto-header-button:hover{
 background-color: transparent;
 color: var(--primary);
}

.presto-floating-header{
    background: linear-gradient(135deg, var(--primary), var(--secondary));
    transform: translate(0, -55%);
    padding: 50px;
}

.container-floating{
    max-height: 400px;
}
.presto-floating-card{
    min-width: 200px;
}

/* card */
.presto-card{
    padding: 15PX 10px;
    background-size: 200% 100%;
    background-position: 0 0;
    background-image: linear-gradient(135deg, var(--primary), var(--secondary));
    transition: all 0.4s;
    min-width: 200px;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.49);
}
.presto-card:hover{
    background-image: linear-gradient(135deg, var(--primary), var(--secondary));
    transform: scale(1.2);
    background-position: 100% 0;
}


/* glide annunci */
.presto-arrow-button{
    background-image: linear-gradient(135deg, var(--primary), var(--secondary));
    font-weight: 800;
    font-family: 'Nunito', sans-serif;

}
.glide-card-slide{
    display: flex;
    justify-content: center;
    border-radius: 3px;
    align-items: center;
    padding: 10px;
    flex-direction: column;
    background-color:#62cf994f ;
    box-shadow: inset 2px 4px 60px 11px var(--secondary);
}

.img-last-ann{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.img-announcement{
    border: 3px solid var(--primary);
    margin: 10px;
}


.presto-bullet-button {
    background-color: var(--primary);
}

.presto-bullet-button:hover {
    background-color: var(--secondary);
    border-color: var(--secondary);
}

.presto-bullet-button.glide__bullet--active {
    background-color: var(--secondary);
    border-color: var(--secondary);
}

/* footer */
.presto-footer-img{
    height: 500px;
    background: linear-gradient(#000000c5 , #00000049) , url("./images/rupixen-com-Q59HmzK38eQ-unsplash.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.presto-footer{
    background-color: black;
}

.footer-circular-link{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background-color: var(--light-grey);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color .15s ease-in-out ;
    color: black;
}

.footer-circular-link:hover{
    background-color: var(--primary);
    transition: background-color .15s ease-in-out ;
    color: white;
}


/* pagina annunci */
.presto-top{
    height: 90px;
    background-image: linear-gradient(135deg, #57491c8f, #3c5c4caf);

}

.accordion .accordion-item .accordion-button {
    background: linear-gradient(135deg, var(--primary), var(--secondary));
    color: var(--light-grey);

}
.margin-card{
    border: 3px solid var(--primary);
}